## Data wrangling

In [2]:
import pandas as pd
import numpy as np
import os
import pandas as pd

In [ ]:
import os
import pandas as pd

def file_split(filename, file_num):
    chunksize = 1000000   
    data1 = pd.read_csv(filename, chunksize = chunksize, sep=',', encoding='utf-8') 
    num = 0
    for chunk in data1:
        num += len(chunk)
    chunksize = round(num / file_num + 1)

    head, tail = os.path.splitext(filename)
    data2 = pd.read_csv(filename, chunksize = chunksize, sep=',', encoding='utf-8')
    i = 0 
    for chunk in data2:
        chunk.to_csv('{0}_{1}{2}'.format(head, i, tail), index=False)
        print('The number of {0} data saved...'.format(i))
        i += 1
            

if __name__ == '__main__':
    filename = '../R_working_path/US_accident_dataset/US_Accidents_Dec19.csv'
    file_split(filename, 5)

In [ ]:
data0.sort_values('Start_Time', ascending=False)
data1.sort_values('Start_Time', ascending=False)
data2.sort_values('Start_Time', ascending=False)
data3.sort_values('Start_Time', ascending=False)
data4.sort_values('Start_Time', ascending=False)

In [ ]:
data0 = data0[data0["Start_Time"] > '2019-01-01 00:00']
data1 = data1[data1["Start_Time"] > '2019-01-01 00:00']
data2 = data2[data2["Start_Time"] > '2019-01-01 00:00']
data3 = data3[data3["Start_Time"] > '2019-01-01 00:00']
data4 = data4[data4["Start_Time"] > '2019-01-01 00:00']

In [19]:
data1 = pd.read_csv('../R_working_path/US_accident_dataset/Accidents_1.csv')
data2 = pd.read_csv('../R_working_path/US_accident_dataset/Accidents_2.csv')
data3 = pd.read_csv('../R_working_path/US_accident_dataset/Accidents_3.csv')
data4 = pd.read_csv('../R_working_path/US_accident_dataset/Accidents_4.csv')

In [54]:
df = [data1,data2,data3,data4]

In [55]:
dataset = pd.concat(df)

In [8]:
data = pd.read_csv("../R_working_path/Accidents_raw_dataset.csv")

In [9]:
data

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition,Crossing,Junction,Railway,Station,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,4,31/12/19 23:19,31/12/19 23:48,37.305780,-76.685220,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair,False,True,False,False,False,False,Night
1,2,31/12/19 19:45,31/12/19 23:45,44.038690,-121.308120,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy,False,False,False,False,False,False,Night
2,2,31/12/19 21:01,31/12/19 23:44,44.861420,-93.307490,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair,False,False,False,False,False,False,Night
3,3,31/12/19 22:41,31/12/19 23:40,25.787006,-80.200584,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair,False,False,False,False,False,False,Night
4,3,31/12/19 21:41,31/12/19 23:40,41.107075,-80.887566,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow,False,False,False,False,False,False,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951379,2,1/1/19 00:16,1/1/19 00:46,37.225761,-121.974442,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow,False,False,False,False,False,False,Night
951380,2,1/1/19 00:12,1/1/19 00:42,33.387245,-111.960938,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain,False,False,False,False,False,False,Night
951381,4,1/1/19 00:07,1/1/19 00:37,32.983090,-80.078570,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds,False,True,False,False,False,False,Night
951382,3,1/1/19 00:03,1/1/19 00:33,37.742203,-121.531143,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain,False,False,False,False,False,False,Night
951383,3,1/1/19 00:00,1/1/19 00:30,37.742043,-121.566734,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain,False,False,False,False,False,False,Night

In [10]:
data = data.drop(['End_Time','Start_Lat','Start_Lng','Crossing', 'Junction', 
                        'Railway', 'Station','Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset'], axis=1)

In [11]:
data

,Severity,Start_Time,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
0,4,31/12/19 23:19,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair
1,2,31/12/19 19:45,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy
2,2,31/12/19 21:01,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair
3,3,31/12/19 22:41,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair
4,3,31/12/19 21:41,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow
...,...,...,...,...,...,...,...,...,...,...
951379,2,1/1/19 00:16,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow
951380,2,1/1/19 00:12,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain
951381,4,1/1/19 00:07,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds
951382,3,1/1/19 00:03,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain
951383,3,1/1/19 00:00,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain

In [12]:
data.loc[:,'Start_Time'] = pd.to_datetime(data.loc[:,'Start_Time'], format = '%d/%m/%y %H:%M')

In [13]:
data

,Severity,Start_Time,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
0,4,2019-12-31 23:19:00,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair
1,2,2019-12-31 19:45:00,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy
2,2,2019-12-31 21:01:00,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair
3,3,2019-12-31 22:41:00,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair
4,3,2019-12-31 21:41:00,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow
...,...,...,...,...,...,...,...,...,...,...
951379,2,2019-01-01 00:16:00,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow
951380,2,2019-01-01 00:12:00,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain
951381,4,2019-01-01 00:07:00,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds
951382,3,2019-01-01 00:03:00,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain
951383,3,2019-01-01 00:00:00,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain

In [14]:
def DateSplit(df, col):
    year, month, day, time = [], [], [], []
    data = df.loc[:, col].values
    
    for i in range(data.shape[0]):
        year.append(int(str(data[i])[:4]))
        month.append(int(str(data[i])[5:7]))
        day.append(int(str(data[i])[8:10]))
        time.append(str(data[i])[11:16])
    date = pd.DataFrame({'Year': year, 'Month': month, 'Day': day, 'Time': time})
    result = pd.concat([date, df], axis=1)
    return result

data = DateSplit(df=data, col='Start_Time')

In [16]:
data.head()

,Year,Month,Day,Time,Severity,Start_Time,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
0,2019,12,31,23:19,4,2019-12-31 23:19:00,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair
1,2019,12,31,19:45,2,2019-12-31 19:45:00,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy
2,2019,12,31,21:01,2,2019-12-31 21:01:00,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair
3,2019,12,31,22:41,3,2019-12-31 22:41:00,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair
4,2019,12,31,21:41,3,2019-12-31 21:41:00,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow

In [17]:
data['Wday'] = data['Start_Time'].dt.dayofweek

In [18]:
data

,Year,Month,Day,Time,Severity,Start_Time,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition,Wday
0,2019,12,31,23:19,4,2019-12-31 23:19:00,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair,1
1,2019,12,31,19:45,2,2019-12-31 19:45:00,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy,1
2,2019,12,31,21:01,2,2019-12-31 21:01:00,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair,1
3,2019,12,31,22:41,3,2019-12-31 22:41:00,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair,1
4,2019,12,31,21:41,3,2019-12-31 21:41:00,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951379,2019,1,1,00:16,2,2019-01-01 00:16:00,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow,1
951380,2019,1,1,00:12,2,2019-01-01 00:12:00,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain,1
951381,2019,1,1,00:07,4,2019-01-01 00:07:00,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds,1
951382,2019,1,1,00:03,3,2019-01-01 00:03:00,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain,1
951383,2019,1,1,00:00,3,2019-01-01 00:00:00,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain,1

In [19]:
hour = data['Time'].str.split(':', expand=True)

In [20]:
data['Hour'] = hour[0]

In [21]:
data

,Year,Month,Day,Time,Severity,Start_Time,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition,Wday,Hour
0,2019,12,31,23:19,4,2019-12-31 23:19:00,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair,1,23
1,2019,12,31,19:45,2,2019-12-31 19:45:00,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy,1,19
2,2019,12,31,21:01,2,2019-12-31 21:01:00,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair,1,21
3,2019,12,31,22:41,3,2019-12-31 22:41:00,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair,1,22
4,2019,12,31,21:41,3,2019-12-31 21:41:00,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow,1,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951379,2019,1,1,00:16,2,2019-01-01 00:16:00,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow,1,00
951380,2019,1,1,00:12,2,2019-01-01 00:12:00,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain,1,00
951381,2019,1,1,00:07,4,2019-01-01 00:07:00,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds,1,00
951382,2019,1,1,00:03,3,2019-01-01 00:03:00,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain,1,00
951383,2019,1,1,00:00,3,2019-01-01 00:00:00,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain,1,00

In [23]:
data = data.drop(['Time'], axis=1)

In [26]:
data["Date"] = pd.to_datetime(data[['Year', 'Day', 'Month']])

In [29]:
data = data[['Date','Year','Month','Day','Hour','Wday','Severity','Distance(mi)',
             'State','Temperature(F)','Humidity(%)','Pressure(in)','Visibility(mi)',
             'Wind_Speed(mph)','Weather_Condition']]

In [30]:
data

,Date,Year,Month,Day,Hour,Wday,Severity,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
0,2019-12-31,2019,12,31,23,1,4,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair
1,2019-12-31,2019,12,31,19,1,2,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy
2,2019-12-31,2019,12,31,21,1,2,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair
3,2019-12-31,2019,12,31,22,1,3,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair
4,2019-12-31,2019,12,31,21,1,3,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951379,2019-01-01,2019,1,1,00,1,2,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow
951380,2019-01-01,2019,1,1,00,1,2,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain
951381,2019-01-01,2019,1,1,00,1,4,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds
951382,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain
951383,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain

In [59]:
dataset = dataset.drop(['ID','Source','TMC','End_Time','Start_Lat','Start_Lng','End_Lat',
                        'End_Lng','Description','Number','Street','Side','City','County',
                        'Zipcode','Timezone', 'Airport_Code','Weather_Timestamp','Precipitation(in)', 
                        'Wind_Direction','Amenity','Bump', 'Give_Way','No_Exit','Roundabout','Stop',
                        'Traffic_Calming','Civil_Twilight','Nautical_Twilight','Astronomical_Twilight',
                        'Crossing', 'Junction', 'Railway', 'Station','Traffic_Signal', 'Turning_Loop',
                        'Sunrise_Sunset'], axis=1)

In [61]:
dataset.to_csv("../R_working_path/US_accident_dataset/Accidents_dataset.csv")

## Data cleaning

In [17]:
data = pd.read_csv("../R_working_path/US_accident_dataset/Accidents_dataset.csv")

In [31]:
data

,Date,Year,Month,Day,Hour,Wday,Severity,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
0,2019-12-31,2019,12,31,23,1,4,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair
1,2019-12-31,2019,12,31,19,1,2,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy
2,2019-12-31,2019,12,31,21,1,2,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair
3,2019-12-31,2019,12,31,22,1,3,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair
4,2019-12-31,2019,12,31,21,1,3,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951379,2019-01-01,2019,1,1,00,1,2,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow
951380,2019-01-01,2019,1,1,00,1,2,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain
951381,2019-01-01,2019,1,1,00,1,4,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds
951382,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain
951383,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951384 entries, 0 to 951383
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date               951384 non-null  datetime64[ns]
 1   Year               951384 non-null  int64
 2   Month              951384 non-null  int64
 3   Day                951384 non-null  int64
 4   Hour               951384 non-null  object
 5   Wday               951384 non-null  int64
 6   Severity           951384 non-null  int64
 7   Distance(mi)       951384 non-null  float64
 8   State              951384 non-null  object
 9   Temperature(F)     934269 non-null  float64
 10  Humidity(%)        933189 non-null  float64
 11  Pressure(in)       937651 non-null  float64
 12  Visibility(mi)     932977 non-null  float64
 13  Wind_Speed(mph)    891482 non-null  float64
 14  Weather_Condition  933182 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(5), object(3)
memory usage: 108.9+ MB

In [33]:
data.columns.values.tolist()

['Date',
 'Year',
 'Month',
 'Day',
 'Hour',
 'Wday',
 'Severity',
 'Distance(mi)',
 'State',
 'Temperature(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Speed(mph)',
 'Weather_Condition']

In [14]:
# data.loc[:,"Start_Time"] = pd.to_datetime(data.loc[:,"Start_Time"], format='%d/%m/%y %H:%M')
# data.loc[:,"End_Time"] = pd.to_datetime(data.loc[:,"End_Time"], format='%d/%m/%y %H:%M')

In [17]:
# data.to_csv("../R_working_path/US_accident_dataset/Accidents_dataset.csv")

### 检查数据是否符合逻辑

In [42]:
temp1 = data[data.loc[:, 'Temperature(F)'] > 104]
temp1.sort_values("Temperature(F)", ascending=False)

,Date,Year,Month,Day,Hour,Wday,Severity,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
639975,2019-03-26,2019,3,26,20,1,2,0.748,AZ,170.6,4.0,29.88,10.0,6.9,Clear
672249,2019-03-11,2019,3,11,09,0,2,1.563,MN,118.4,NaN,30.38,0.5,NaN,NaN
412285,2019-07-15,2019,7,15,05,0,2,0.000,AZ,115.0,11.0,28.66,9.0,14.0,NaN
412383,2019-07-15,2019,7,15,01,0,2,0.000,AZ,115.0,9.0,28.53,10.0,12.0,Fair
412378,2019-07-15,2019,7,15,02,0,3,0.000,AZ,115.0,9.0,28.53,10.0,12.0,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417816,2019-07-11,2019,7,11,13,3,3,0.000,AZ,105.0,22.0,28.60,10.0,13.0,Partly Cloudy
325253,2019-08-26,2019,8,26,16,0,2,0.000,AZ,105.0,17.0,28.06,10.0,5.0,Fair
352448,2019-08-13,2019,8,13,07,1,2,0.000,AZ,105.0,8.0,29.37,10.0,12.0,Fair
325248,2019-08-26,2019,8,26,16,0,2,0.000,AZ,105.0,16.0,28.08,10.0,10.0,Fair
331152,2019-08-22,2019,8,22,16,3,3,0.000,AZ,105.0,20.0,28.53,10.0,8.0,Mostly Cloudy

In [43]:
temp2 = data[data.loc[:, 'Temperature(F)'] < 14]
temp2.sort_values("Temperature(F)", ascending=True)

,Date,Year,Month,Day,Hour,Wday,Severity,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
628944,2019-04-01,2019,4,1,13,0,2,0.00,SC,-33.0,NaN,30.13,7.0,8.0,Fair
696309,2019-02-27,2019,2,27,10,2,3,6.57,MN,-32.8,75.0,30.21,NaN,NaN,Clear
696446,2019-02-27,2019,2,27,09,2,3,0.00,IA,-29.0,81.0,30.49,10.0,3.5,Clear
761700,2019-01-30,2019,1,30,08,2,2,0.77,MN,-29.0,69.0,30.37,6.0,10.4,Haze
774636,2019-01-24,2019,1,24,08,3,2,0.00,MN,-29.0,69.0,30.37,6.0,10.4,Haze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763020,2019-01-29,2019,1,29,16,1,2,0.00,MI,13.8,68.0,30.00,7.0,13.8,Scattered Clouds
710848,2019-02-20,2019,2,20,19,2,2,0.00,NE,13.8,82.0,30.03,3.0,9.2,Light Snow
710846,2019-02-20,2019,2,20,19,2,3,0.00,NE,13.8,82.0,30.03,3.0,9.2,Light Snow
758547,2019-01-31,2019,1,31,10,3,2,0.00,NE,13.8,62.0,30.36,10.0,5.8,Clear
819720,2019-01-04,2019,1,4,02,4,3,6.97,VA,13.8,60.0,30.72,10.0,NaN,Clear

In [44]:
abnormal_value1 = temp1.index.tolist()
data = data.drop(labels=abnormal_value1, axis=0)

In [45]:
abnormal_value2 = temp2.index.tolist()
data = data.drop(labels=abnormal_value2, axis=0)

In [41]:
# 给index重新排序
data = data.reset_index(drop=True)

In [42]:
data.head(10)

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition,Crossing,Junction,Railway,Station,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,4,31/12/19 23:19,31/12/19 23:48,37.305780,-76.685220,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair,False,True,False,False,False,False,Night
1,2,31/12/19 19:45,31/12/19 23:45,44.038690,-121.308120,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy,False,False,False,False,False,False,Night
2,2,31/12/19 21:01,31/12/19 23:44,44.861420,-93.307490,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair,False,False,False,False,False,False,Night
3,3,31/12/19 22:41,31/12/19 23:40,25.787006,-80.200584,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair,False,False,False,False,False,False,Night
4,3,31/12/19 21:41,31/12/19 23:40,41.107075,-80.887566,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow,False,False,False,False,False,False,Night
5,2,31/12/19 22:17,31/12/19 23:37,42.382359,-83.509872,0.000,MI,29.0,78.0,28.98,8.0,15.0,Cloudy,False,False,False,False,False,False,Night
6,3,31/12/19 22:38,31/12/19 23:37,25.833807,-80.205750,0.000,FL,64.0,65.0,30.06,10.0,0.0,Fair,False,False,False,False,False,False,Night
7,2,31/12/19 22:50,31/12/19 23:35,38.148739,-85.712593,1.170,KY,38.0,65.0,29.43,10.0,9.0,Cloudy,False,False,False,False,False,False,Night
8,2,31/12/19 23:04,31/12/19 23:34,42.782551,-85.668648,0.000,MI,30.0,72.0,28.76,10.0,13.0,Cloudy,False,False,False,False,False,False,Night
9,2,31/12/19 19:34,31/12/19 23:34,45.454250,-122.579160,0.000,OR,52.0,77.0,29.84,10.0,16.0,Light Rain,True,False,False,True,True,False,Night

In [43]:
data

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition,Crossing,Junction,Railway,Station,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,4,31/12/19 23:19,31/12/19 23:48,37.305780,-76.685220,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair,False,True,False,False,False,False,Night
1,2,31/12/19 19:45,31/12/19 23:45,44.038690,-121.308120,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy,False,False,False,False,False,False,Night
2,2,31/12/19 21:01,31/12/19 23:44,44.861420,-93.307490,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair,False,False,False,False,False,False,Night
3,3,31/12/19 22:41,31/12/19 23:40,25.787006,-80.200584,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair,False,False,False,False,False,False,Night
4,3,31/12/19 21:41,31/12/19 23:40,41.107075,-80.887566,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow,False,False,False,False,False,False,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937682,2,1/1/19 00:16,1/1/19 00:46,37.225761,-121.974442,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow,False,False,False,False,False,False,Night
937683,2,1/1/19 00:12,1/1/19 00:42,33.387245,-111.960938,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain,False,False,False,False,False,False,Night
937684,4,1/1/19 00:07,1/1/19 00:37,32.983090,-80.078570,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds,False,True,False,False,False,False,Night
937685,3,1/1/19 00:03,1/1/19 00:33,37.742203,-121.531143,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain,False,False,False,False,False,False,Night
937686,3,1/1/19 00:00,1/1/19 00:30,37.742043,-121.566734,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain,False,False,False,False,False,False,Night

### 检查并删除重复值

In [38]:
data[data.duplicated()]

Empty DataFrame
Columns: [Date, Year, Month, Day, Hour, Wday, Severity, Distance(mi), State, Temperature(F), Humidity(%), Pressure(in), Visibility(mi), Wind_Speed(mph), Weather_Condition]
Index: []

In [37]:
# 删除重复记录
data = data.drop_duplicates()

# 给index重新排序
data = data.reset_index(drop=True)

### 检查空值

In [46]:
data.isnull().sum()

Date                     0
Year                     0
Month                    0
Day                      0
Hour                     0
Wday                     0
Severity                 0
Distance(mi)             0
State                    0
Temperature(F)       12975
Humidity(%)          13885
Pressure(in)          9961
Visibility(mi)       14062
Wind_Speed(mph)      49233
Weather_Condition    13866
dtype: int64

In [50]:
filt = (data['Temperature(F)'].isnull() == True) & (
    data['Humidity(%)'].isnull() == True) & (
    data['Pressure(in)'].isnull() == True) & (
    data['Visibility(mi)'].isnull() == True) & (
    data['Wind_Speed(mph)'].isnull() == True) & (
    data['Weather_Condition'].isnull() == True)

In [51]:
null = data[filt].index.tolist()

In [52]:
data = data.drop(labels=null, axis=0)

In [53]:
data

,Date,Year,Month,Day,Hour,Wday,Severity,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
0,2019-12-31,2019,12,31,23,1,4,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair
1,2019-12-31,2019,12,31,19,1,2,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy
2,2019-12-31,2019,12,31,21,1,2,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair
3,2019-12-31,2019,12,31,22,1,3,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair
4,2019-12-31,2019,12,31,21,1,3,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825394,2019-01-01,2019,1,1,00,1,2,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow
825395,2019-01-01,2019,1,1,00,1,2,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain
825396,2019-01-01,2019,1,1,00,1,4,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds
825397,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain
825398,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain

In [54]:
data = data.reset_index(drop=True)

In [55]:
data

,Date,Year,Month,Day,Hour,Wday,Severity,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
0,2019-12-31,2019,12,31,23,1,4,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair
1,2019-12-31,2019,12,31,19,1,2,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy
2,2019-12-31,2019,12,31,21,1,2,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair
3,2019-12-31,2019,12,31,22,1,3,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair
4,2019-12-31,2019,12,31,21,1,3,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804453,2019-01-01,2019,1,1,00,1,2,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow
804454,2019-01-01,2019,1,1,00,1,2,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain
804455,2019-01-01,2019,1,1,00,1,4,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds
804456,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain
804457,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain

In [56]:
data.isnull().sum()

Date                     0
Year                     0
Month                    0
Day                      0
Hour                     0
Wday                     0
Severity                 0
Distance(mi)             0
State                    0
Temperature(F)        4014
Humidity(%)           4924
Pressure(in)          1000
Visibility(mi)        5101
Wind_Speed(mph)      40272
Weather_Condition     4905
dtype: int64

In [57]:
data[data['Visibility(mi)'].isnull() == True]

,Date,Year,Month,Day,Hour,Wday,Severity,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
50,2019-12-31,2019,12,31,19,1,2,0.00,MD,48.0,44.0,29.67,NaN,NaN,NaN
433,2019-12-31,2019,12,31,18,1,2,0.00,SC,52.0,47.0,29.84,NaN,3.0,Fair
1319,2019-12-31,2019,12,31,10,1,2,0.00,SC,52.0,50.0,29.89,NaN,12.0,Fair
1688,2019-12-31,2019,12,31,07,1,2,0.00,MD,43.0,82.0,29.72,NaN,NaN,NaN
1709,2019-12-31,2019,12,31,08,1,2,0.00,FL,63.0,72.0,30.02,NaN,9.0,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804347,2019-01-01,2019,1,1,02,1,2,0.00,MA,48.9,100.0,29.75,NaN,28.8,NaN
804362,2019-01-01,2019,1,1,01,1,2,0.00,MA,51.1,96.0,29.70,NaN,40.3,NaN
804370,2019-01-01,2019,1,1,01,1,3,0.00,MA,51.1,100.0,29.68,NaN,35.7,NaN
804377,2019-01-01,2019,1,1,01,1,2,0.25,MA,54.0,100.0,29.49,NaN,43.7,NaN
804391,2019-01-01,2019,1,1,01,1,3,0.00,MA,48.9,100.0,29.24,NaN,12.7,NaN

In [58]:
data['Temperature(F)'].mean()

61.40404612939816

In [59]:
data['Humidity(%)'].mean()

65.35194750942424

In [60]:
data['Pressure(in)'].mean()

29.416158704001955

In [61]:
data['Visibility(mi)'].mean()

9.087622839357135

In [62]:
data['Wind_Speed(mph)'].mean()

7.437335674822623

In [63]:
null_wc = data[data['Weather_Condition'].isnull() == True].index.tolist()

In [64]:
# 删除weather_condition列的全部空值
data = data.drop(labels=null_wc, axis=0)

In [65]:
data['Temperature(F)'] = data['Temperature(F)'].fillna(data['Temperature(F)'].mean())

In [66]:
data['Humidity(%)'] = data['Humidity(%)'].fillna(data['Humidity(%)'].mean())

In [67]:
data['Pressure(in)'] = data['Pressure(in)'].fillna(data['Pressure(in)'].mean())

In [68]:
data['Visibility(mi)'] = data['Visibility(mi)'].fillna(data['Visibility(mi)'].mean())

In [69]:
data['Wind_Speed(mph)'] = data['Wind_Speed(mph)'].fillna(data['Wind_Speed(mph)'].mean())

In [70]:
data.isnull().sum()

Date                 0
Year                 0
Month                0
Day                  0
Hour                 0
Wday                 0
Severity             0
Distance(mi)         0
State                0
Temperature(F)       0
Humidity(%)          0
Pressure(in)         0
Visibility(mi)       0
Wind_Speed(mph)      0
Weather_Condition    0
dtype: int64

In [75]:
data

,Date,Year,Month,Day,Hour,Wday,Severity,Distance(mi),State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition
0,2019-12-31,2019,12,31,23,1,4,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair
1,2019-12-31,2019,12,31,19,1,2,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy
2,2019-12-31,2019,12,31,21,1,2,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair
3,2019-12-31,2019,12,31,22,1,3,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair
4,2019-12-31,2019,12,31,21,1,3,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799548,2019-01-01,2019,1,1,00,1,2,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow
799549,2019-01-01,2019,1,1,00,1,2,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain
799550,2019-01-01,2019,1,1,00,1,4,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds
799551,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain
799552,2019-01-01,2019,1,1,00,1,3,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain

In [72]:
data = data.reset_index(drop=True)

In [108]:
# 将数据集保存
data.to_csv("../R_working_path/Accidents_clean_dataset.csv")

In [3]:
# 添加数据到csv文件中
data = pd.read_csv("US_Accidents_Dec19.csv")

In [9]:
data

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2974330,A-2974354,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,False,False,False,False,False,False,Day,Day,Day,Day
2974331,A-2974355,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,False,False,False,False,False,False,Day,Day,Day,Day
2974332,A-2974356,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,False,False,False,False,False,False,Day,Day,Day,Day
2974333,A-2974357,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,False,False,False,False,False,False,Day,Day,Day,Day
2974334,A-2974358,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,False,False,False,False,False,False,Day,Day,Day,Day

In [20]:
des = data["Description"][0:919562]

In [10]:
df = pd.read_csv("Accidents_processed_dataset.csv", index_col=0)

In [11]:
df

,Date,Year,Month,Day,Hour,Wday,Severity,Distance,State,Temperature,Humidity,Pressure,Visibility,Wind_Speed,Weather_Condition
0,2019-12-31,2019,12,31,23,1,4,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair
1,2019-12-31,2019,12,31,19,1,2,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy
2,2019-12-31,2019,12,31,21,1,2,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair
3,2019-12-31,2019,12,31,22,1,3,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair
4,2019-12-31,2019,12,31,21,1,3,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919557,2019-01-01,2019,1,1,0,1,2,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow
919558,2019-01-01,2019,1,1,0,1,2,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain
919559,2019-01-01,2019,1,1,0,1,4,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds
919560,2019-01-01,2019,1,1,0,1,3,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain
919561,2019-01-01,2019,1,1,0,1,3,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain

In [21]:
df["Description"] = des

In [22]:
df

,Date,Year,Month,Day,Hour,Wday,Severity,Distance,State,Temperature,Humidity,Pressure,Visibility,Wind_Speed,Weather_Condition,Description
0,2019-12-31,2019,12,31,23,1,4,4.302,VA,46.0,62.0,29.72,10.0,5.0,Fair,Right lane blocked due to accident on I-70 Eas...
1,2019-12-31,2019,12,31,19,1,2,0.000,OR,46.0,66.0,26.36,10.0,23.0,Fair / Windy,Accident on Brice Rd at Tussing Rd. Expect del...
2,2019-12-31,2019,12,31,21,1,2,0.000,MN,14.0,80.0,28.89,10.0,7.0,Fair,Accident on OH-32 State Route 32 Westbound at ...
3,2019-12-31,2019,12,31,22,1,3,0.000,FL,68.0,47.0,30.05,10.0,3.0,Fair,Accident on I-75 Southbound at Exits 52 52B US...
4,2019-12-31,2019,12,31,21,1,3,0.000,OH,28.0,69.0,28.47,9.0,13.0,Light Snow,Accident on McEwen Rd at OH-725 Miamisburg Cen...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919557,2019-01-01,2019,1,1,0,1,2,0.000,NY,35.1,72.0,29.46,10.0,21.9,Light Snow,Restrictions due to accident on Cornhusker Rd ...
919558,2019-01-01,2019,1,1,0,1,2,0.000,NY,52.0,83.0,29.70,7.0,8.1,Light Rain,Accident on Jay St Northbound at IL-8 Washingt...
919559,2019-01-01,2019,1,1,0,1,4,3.677,SC,66.0,93.0,30.11,9.0,8.1,Scattered Clouds,Left hand shoulder blocked due to accident on ...
919560,2019-01-01,2019,1,1,0,1,3,0.000,NY,44.1,100.0,29.51,10.0,8.1,Light Rain,Accident on 36th Avenue at 32nd St.
919561,2019-01-01,2019,1,1,0,1,3,0.000,NY,44.1,100.0,29.48,10.0,6.9,Light Rain,Accident on CR-25 Parkway Dr Northbound at Wil...

In [23]:
df.to_csv("Accidents_processed_dataset.csv")